<main>
  <header>
    <h1>Chat en Línea</h1>
  </header>
  <div class="chat-container">
    <div class="messages-container">
      <p id="messageLogs"></p>
    </div>
    <div class="input-container">
      <input id="chatBox" placeholder="Escribe tu mensaje y presiona Enter" />
    </div>
  </div>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>