<h1>Formulario para Agregar Producto</h1>
<form id="agregarForm">
  <label for="producto">Producto:</label>
  <textarea id="producto" name="producto" required></textarea>

  <label for="precio">Precio:</label>
  <input type="text" id="precio" name="precio" required />

  <label for="productId">ID del Producto:</label>
  <input type="text" id="productId" name="productId" required />

  <button type="submit">Agregar Producto</button>
</form>

<h1>Formulario para Eliminar Producto por ID</h1>
<form id="eliminarForm">
  <label for="productId">ID del Producto a Eliminar:</label>
  <input type="text" id="productId" name="productId" required />

  <button type="submit">Eliminar Producto</button>
</form>

<div id="contenedorDeProductos"></div>

<script src="/socket.io/socket.io.js"></script>

<script src="/index.js"></script>