<div>
  <h1>Recuperar Contraseña</h1>
  <form id="forgotPasswordForm">
    <label>Email</label>
    <input name="email" required />
    <br />
    <input type="submit" value="Enviar Correo de Recuperación" />
  </form>
  <p id="errorMessage" style="color: red;"></p>
</div>
<script src="/js/forgotPassword.js"></script>