<div>
  <h1>Restablecimiento de Contraseña</h1>
  <form id="resetForm">
    <label>Email</label>
    <input name="email" type="email" />
    <br />
    <label>Contraseña Nueva</label>
    <input name="password" type="password" />
    <br />
    <input type="submit" />
  </form>
</div>
<script src="/js/reset.js"></script>