<div style="display:flex; gap: 5rem;">
  <div>
    <h1>Productos Agregados</h1>
    <div id="container">
      {{#each products}}
        <p>{{this.title}} - {{this.description}}</p>
      {{/each}}
    </div>
  </div>
</div>

{{#if canCreateProduct}}
  <div>
    <h1>Crear Producto</h1>
    <form id="formAdd" action="/api/products" method="post">
      <label> Título</label>
      <input name="title" />
      <label> Descripción</label>
      <input name="description" />
      <label> Precio</label>
      <input name="price" />
      <label> Stock</label>
      <input name="stock" />
      <label> Categoría</label>
      <input name="category" />
      <input type="submit" />
    </form>
  </div>
{{/if}}

{{#if canDeleteProduct}}
  <div>
    <h1>Eliminar Producto</h1>
    <form id="formDelete">
      <label id="id_to_delete"> ID a eliminar</label>
      <input name="id" />
      <input type="submit" />
    </form>
  </div>
{{/if}}