<div>
  <h1>Restablecer Contraseña</h1>
  <form id="restoreForm">
    <label>Ingrese el mail con el que realizó el registro</label>
    <input type="email" name="userEmail" placeholder="Email" />
    <br />
    <input type="submit" />
  </form>
  <p>Ya tienes cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/restore.js"></script>