<h1>Confirmación de Pedido</h1>
<p>Su compra ha sido exitosa. ¡Gracias por su compra!</p>
<p>Código de compra: {{ticket.code}}</p>
<p>Fecha y hora de compra: {{ticket.purchase_datetime}}</p>
<p>Total de la compra: ${{ticket.amount}}</p>
<p>Comprador: {{ticket.purchaser}}</p>