<div>
  <h1>Reestablecer Contraseña</h1>
  <p>Se ha enviado un email para restabler su contraseña al email proporcionado.</p>
  <button id="backButton">Aceptar</button>
</div>

<script src="/js/accept.js"></script>